button {
	width: 50px;
	height: 35px;
	margin-top: 3px;
}

#result {
	color: gray;
}

#monitor {
	width: 155px;
	height:75px;
	border: solid;
	padding: 0 5px 0 5px;
	white-space: nowrap;  
	overflow: hidden;
	text-overflow: ellipsis;
}
#monitor:hover {
  overflow: visible;
}
.gray {
	color: #dfdfdf;
}